<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Workout Tracker</a>
      
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" routerLinkActive="active"><a class="nav-link text-dark" [routerLink]="['/workouts']">Workout List</a></li>
          <li class="nav-item" [routerLinkActive]="['link-active']"><a class="nav-link text-dark" [routerLink]="['/workouts/new']">Add Workout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
