<div id="panel-detail" class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-xs-12">
				<h2>{{ workout?.description }}</h2>
			</div>
		</div>
		<div class="panel-body">
			<!-- <p><b>Date:</b> {{ workout?.date | date : shortDate }}</p> -->
			<p><b>Exercise:</b> {{ workout?.exercise }}</p>
			<p><b>Sets:</b> {{ workout?.sets }}</p>
			<p><b>Reps:</b> {{ workout?.reps }}</p>
			<p><b>Weight:</b> {{ workout?.weight }}</p>
		</div>
		<div class="row">
			<div class="col-xs-3 btn-toolbar">
				<a class="btn btn-primary" [routerLink]="['/workouts', workout ? workout.id : 0, 'edit']">Edit</a>
				<hr>
				<a class="btn btn-danger" (click)="onDelete()">Delete</a>
			</div>
		</div>
	</div>
</div>